<%- include('partials/header'); %>
    
    <main class="container mt-5 pt-5">
        <div class="d-flex align-content-end flex-wrap">
            <div class="bg-light p-5 rounded mx-auto text-center">
                <h1>Projeto Tabuadas</h1>
                <p class="lead">Gera as tabuadas de 1 à 100</p>
            </div>
        </div>
    </main>

<%- include('partials/footer'); %>